<web-app>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<display-name>ltcms</display-name>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/dispatcher-servlet.xml,
			classpath*:db/db_*.xml,
			classpath*:security/spring_*.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>org.apache.tiles.extras.complete.CompleteAutoloadTilesListener
		</listener-class>
	</listener>

	<!-- logback配置相关 -->
	<context-param>
		<param-name>logbackConfigLocation</param-name>
		<param-value>classpath:others/logback.xml</param-value>
	</context-param>
	
	<!-- 配置Session -->
	<filter>
	    <filter-name>openSession</filter-name>
	    <filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
	    <!-- 请注意，此处必须定义，否则后面会报错，具体是什么，笔者没截图，记不太清楚了 -->
	    <init-param>
	        <param-name>sessionFactoryBeanName</param-name>
	        <param-value>sessionFactory</param-value>
	    </init-param>
	</filter>
	<filter-mapping>
	    <filter-name>openSession</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- spring security 相关配置 -->
	<filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/error/403.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error404</location>
	</error-page>
	<error-page>
	  <error-code>500</error-code>
	  <location>/error500</location>
	</error-page>

</web-app>
